/* Modifications sur l'en-tête et le bas de page*/


.head_bar {
    display: flex;
    height: 250px;
    width: 100%;
    background: linear-gradient(359.33deg, #FFFFFF 0.64%, rgba(255, 255, 255, 0) 99.47%), #407CEF;
}

.titre{
    color:white;
}

/* enlever la surbrillance */

input:focus {
    outline: none;
}

*:focus {
    outline: none;
}


/* logo centré */

.logo {
    margin-left:10% ;
    margin-top: 1%;
}

    .logo img {
        width: 280px;
        height: 200px;
    }


/* menu de navigation  */

.menu {
    margin-top: 6%;
    margin-left: 27%;
    font-size: 24px;
}

    .menu a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 1%;
        margin-bottom: 1%;
        margin-right: 2%;
        background: none;
        border: none;
        background-color: whitesmoke;
        border-radius: 10px;
        height: 45px;
        color: #407CEF !important;
        box-shadow: 3px 5px #407def33;
        transition-duration: 0.6s;
    }

    .menu a:hover {
        background-color: #407CEF;
        color: whitesmoke !important;
        box-shadow: 1px 2px #407def33;
    }

    .menu button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 1%;
        margin-bottom: 1%;
        margin-right: 2%;
        background: none;
        border: none;
        background-color: whitesmoke;
        border-radius: 10px;
        height: 45px;
        color: #407CEF !important;
        box-shadow: 3px 5px #407def33;
        transition-duration: 0.6s;
    }

    .menu button:hover {
        background-color: #407CEF;
        color: whitesmoke !important;
        box-shadow: 1px 2px #407def33;
    }

    .menu img {
        width: 50px;
        height: 50px;
    }

    .menu svg {
        margin-left: 1px;
    }

    .container{
        width:400px;
        margin:0 auto;
        margin-top:10%;
        margin-bottom: 10%;
    }
    
    form {
        width:100%;
        padding: 30px;
        background: #fff;
        border: 1px solid white;
        border-radius: 5px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
    
    input[type=email], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #407CEF;
        border-radius: 5px;
        box-sizing: border-box;
    }
    
    
    input[type=submit] {
        width: 50%;
        background-color: #407CEF;
        color: white;
        padding: 14px 20px;
        margin: 8px 0 0 100px;
    
        border: none;
        border-radius:5px ;
        cursor: pointer;
        transition: 0.6s;
    }
    input[type=submit]:hover {
        background-color: white;
        color: #407CEF;
        border: 1px solid #407CEF;
    }
    

/* ------------- */


.foot_bar {
    display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 185px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), #2A66DA;
}

.left_side {
    color: white;
    margin-top: 25px;
    margin-left: 30px;
}

    .left_side svg {
        width: 50px;
        height: 50px;
    }


    .left_side label {
        margin-left: 20px;
        font-size: 25px;
    }

.legal {
    position: fixed;
    margin-top: 20px;
    font-size: 30px;
}

.copywrite {
    left: 45%;
    margin-left: -90px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.reseau {
    margin-top: 3%;
    margin-right: 20px;
    color: white;
}

    .reseau label {
        margin-bottom: 7%;
    }

.image img {
    width: 55px;
    height: 50px;
    margin-top: 2%;
    margin-left: 7%;
}

/*Partie responsive*/

/* Modifications sur l'en-tête et le bas de page*/

@media screen and (max-width: 1300px) {
    
    .head_bar{
        height:350px;
    }

    .menu{
        margin-left: 17%;
    }
    
}

@media screen and (max-width: 1100px) {

    .menu{
        margin-left: 6%;
    }

}

@media screen and (max-width: 993px) {

    .menu{
        margin-left: 40%;
    }

}

@media screen and (max-width: 800px) {

    .menu{
        margin-left: 20%;
    }

}

@media screen and (max-width: 600px) {

    .menu{
        margin-left: 20%;
    }

    div.menu a {
        width: 120px;
        font-size: 15px;
        
    }

    .logo img {
        width: 200px;
        height: 140px;
    }
}

@media screen and (max-width: 600px) {

    .nav_bar p{
        margin-top:100px;
    }
    
    div.left_side svg {
        width: 25px;
        height: 25px;
    }

    div.left_side label {
        margin-right: 20px;
        font-size: 15px;
    }

    div.legal {
        font-size: 15px;
    }

    div.copywrite {
        font-size: 15px;
    }

    div.reseau label {
        margin-top: 40px;
        font-size: 15px;
    }

    div.reseau img {
        width: 35px;
        height: 31px;
    }
}
